.search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10vh 3vw 8vh 4vw;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-field {
  flex: 1;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.search-query-button {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #b2e3f5;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}

.back-to-all-button {
  height: 40px;
  width: 125px;
  margin-top: 7px;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .search-container {
    margin: 5vh 2vw 5vh 2vw;
  }

  .search-field {
    height: 35px;
    font-size: 14px;
  }

  .search-query-button {
    padding: 6px 12px;
    font-size: 14px;
    margin-left: 5px;
  }

  .back-to-all-button {
    height: 40px;
    width: 100px;
    margin-top: 5px;
  }
}

@media (max-width: 480px) {
  .search-container {
    margin: 3vh 2vw 3vh 2vw;
  }

  .search-field {
    height: 30px;
    font-size: 12px;
  }

  .search-query-button {
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 3px;
  }

  .back-to-all-button {
    height: 25px;
    width: 90px;
    margin-top: 3px;
  }
}
