body {
  font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  width: 92vw;
  margin: 5vh 4vw;
  white-space: nowrap;
  color: #697cb9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Roboto', sans-serif;
}

.no-results {
  margin: 3vh 4vw;
  font-size: 24px;
  color: #fa6d6d;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .header {
    font-size: 28px;
  }

  .no-results {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 24px;
  }

  .no-results {
    font-size: 18px;
  }
}
