.header {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  text-align: center;
  width: 92vw;
  margin: 3vh 4vw 3vh 4vw;
  white-space: nowrap;
}